* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Ensure all elements are constrained within the viewport */
* {
  max-width: 100%;
}

/* Add this if a specific section is causing overflow */
.container {
  max-width: 100%;
  overflow-x: hidden;
}

/* Ensure media queries properly target small screens */
@media (max-width: 760px) {
  body {
    overflow-x: hidden;
  }
}
